.card-note-body {
    padding: 10px;
    border-radius: 6px;
}

.card-note {
    background-color: rgb(239, 246, 252);
    height: 250px;
    overflow-y: auto;
    position: relative;
    margin: 20px 25px 40px 15px;
}

.card-note p {
    max-height: 140px;
    overflow-y: auto;
}

.card-2 {
    background-color: rgb(239, 246, 252);
}

.card-note button {
    position: absolute;
    bottom: 10px;
}
